:root {
  --accent-color: rgb(255,165,0);
  --base-color:rgb(1,4,9);
  --sub-color:rgb(13,17,23);
  --text-color:white;
}
body{
  overflow-y:hidden;
}
.main{
  top:8vh;
  bottom:2vh;
  left:0;
  width:50vw;
  position:fixed;
  height:92vh;
}
.comments{
  top:8vh;
  left:50vw;
  width:50vw;
  position:fixed;
  height:85vh;
  overflow-y: scroll;
}
.input{
  top:93vh;
  left:50vw;
  width:50vw;
  position:fixed;
  height:7vh;
}
li{
  font-size:1.5rem;
  font-weight: bold;

}

