:root {
  --accent-color: rgb(255,165,0);
  --base-color:rgb(1,4,9);
  --sub-color:rgb(13,17,23);
  --text-color:white;
}
body{
  overflow-y:hidden;
}
.main{
  top:8vh;
  bottom:2vh;
  left:0;
  width:40vw;
  position:fixed;
  height:92vh;
}

.comments{
  top:10vh;
  left:40vw;
  width:55vw;
  position:fixed;
  height:81vh;
  overflow-y: scroll;
}
.comment{
  background-color:#383838;
  margin:1rem 3vw;
  padding:1rem;
  border-radius: 1rem;
  position:relative;
}
.comment:hover{
  transform: scale(1.1);
}
/*スクロールバー非表示*/
.comments::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
.input{
  top:93vh;
  left:50vw;
  width:50vw;
  position:fixed;
  height:7vh;
}
li{
  font-size:1.5rem;
  font-weight: bold;

}

