.solvedQuestion{
  background-color:red;
  margin:1vw;
  padding:1vw;
  border-radius: 1vw;
  position:relative;
}
.unsolvedQuestion{
  background-color:blue;
  margin:1vw;
  padding:1vw;
  border-radius: 1vw;
  position:relative;
}
.buttonDetail{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:200;
}