:root {
  --accent-color: rgb(12,69,70);
  --head-color:rgb(22,27,34);
  --base-color:rgb(1,4,9);
  --sub-color:rgb(13,17,23);
  --text-color:white;
}

.solvedQuestion{
  background-color:#383838;
  
}
.unsolvedQuestion{
  background-color:var(--accent-color);
  padding:1rem 2rem 2rem 1rem;
}
.buttonDetail{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:20;
}
.buttonSolved{
  position: absolute;

  z-index:30;

}

.sortButton{
  position:absolute;
  width:7rem;
  height:1rem;
  padding: 0.5em;
	margin: 3px;
	line-height: 1.5;
	border-left: solid 8rem #71b4b1;
	background: gray;
	color:#c3c3c3;
  border-radius: 1rem;
}
.comments{
  top:10vh;
  left:40vw;
  width:55vw;
  position:fixed;
  height:88vh;
  background-color:rgb(193,33,39);
  border-radius:1rem;
}