{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="../static/css/chat.css" rel="stylesheet" />
<script>
  function load_data() {
    str = "";
    show_comments = ""
    fetch('getLog?subject={{subject_id}}')
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          // console.log(data.tasks);
          
          console.log(data.comments);
          for(let i = 0; i < data.comments.length; i++) {
            obj = data.comments[i]
            show_comments += "<h2>"+obj.author+":"+obj.message+"</h2>"+
            "<p>"+obj.created_at+"</p>"
          }
          document.getElementById('comments').innerHTML = show_comments ;
        })
        .catch(error => {
          console.error(error);
        });
    

    setTimeout(function() {load_data()},1000);//todo websocketで必要なときだけデータを受け取る仕様に変更したい
  }
  function save_comments(){
    
    message = document.getElementById('message').value
    path = "?subject={{subject_id}}&message="+message
    fetch(path)
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          console.log(data);
          
        })
        .catch(error => {
          console.error(error);
        });
  }
  function delete_all_comments(){
    
    
    path = "getLog?subject={{subject_id}}&delete=all"
    alert(path)
    fetch(path)
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          console.log(data);
          
        })
        .catch(error => {
          console.error(error);
        });
  }
  document.addEventListener
  ('DOMContentLoaded', function () { 
        load_data();
  })
  
</script>
<body>
<div class="main">

  {% if subject_id == "0" %}
    <h3>ルームを選んでください</h3>
    <ul>
    {% for i in subjects %}
    <li><a href="?subject={{i.id}}">{{i.name}}</a></li>
    {% empty %}
    <li>科目が登録されていません</li>
    {% endfor %}
    </ul>

  {% else %}
    <div class="nav-bar">
      <ul>
        <li><a href="/chat?subject={{subject_id}}">チャット</a></li>
        <li><a href="create_question?subject={{subject_id}}">質問</a></li>
        <li><a href="log?subject={{subject_id}}">ログ</a></li>
      </ul>
    </div>
    <div class="select-room-bar">
      <ul>
        <h3>科目一覧</h3>
        {% for i in subjects %}
        <li><a href="?subject={{i.id}}">{{i.name}}</a></li>
        {% endfor %} 
      </ul>
    </div>
    <div class="chat">
      <div id="comments"></div>
      <div>
        <h1>コメント</h1>
        <input type="text" id="message">
        <button onclick="save_comments()">送信</button>
        <button onclick="delete_all_comments()">全消し</button>
      </div>
    </div>
  {% endif %}
  
</div>
</body>

{% endblock %}
