{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static '../static/css/chat.css' %}" rel="stylesheet" />
<link href="{% static '../static/css/question.css' %}" rel="stylesheet" />

<script src="../static/js/question.js"></script>
<body>
<div class="main">

  {% if subject_id == "0" %}
    <h3>ルームを選んでください</h3>
    <ul>
      {% for i in subjects %}
      <li><a href="?subject={{i.id}}">{{i.name}}</a></li>
      {% endfor %}
    </ul>
  {% else %}
  <div class="nav-bar">
    <ul>
      <li><a href="/chat?subject={{subject_id}}">チャット</a></li>
      <li><a href="create_question?subject={{subject_id}}">質問(スレッド)〇</a></li>
      <li><a href="log?subject={{subject_id}}">ログ</a></li>
    </ul>
  </div>
  <div class="select-room-bar">
    <ul>
      <h3>科目一覧</h3>
      {% for i in subjects %}
      {% if i.id == subject_id_i %}
      <li><a href="?subject={{i.id}}">{{i.name}}〇</a></li>
      {% else %}
      <li><a href="?subject={{i.id}}">{{i.name}}</a></li>
      {% endif %}
      {% empty %}
      <li>科目が登録されていません</li>
      {% endfor %} 
    </ul>
  </div>
  <div class="sort-menu" id="sort-menu"><!--jsで埋め込み--->
    
  </div>
  <div class="chat">
    <div class="comments" id="questions"></div><!--jsで埋め込み--->
    <div class="input">
      <input type="text" id="message" style="width: 30vw; height: 3vh;">
      <button onclick="save_question()">投稿</button>
    </div>
  </div>
    
  {% endif %}
  
</div>
</body>

{% endblock %}
