{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<script>
  function load_data() {
    str = "";
    show_comments = ""
    fetch('getAnswer?question={{question.id}}')
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          // console.log(data.tasks);
          
          for(let i = 0; i < data.answers.length; i++) {
            obj = data.answers[i]
            show_comments += "<h2>"+obj.author+":"+obj.message+"</h2>"+
            "<p>"+obj.created_at+"</p>"+
            "<a href='create_answer?good="+obj.id+"&question={{question.id}}"+"'>いいね！"+obj.good_count+"</a>"
          }
          document.getElementById('questions').innerHTML = show_comments ;
        })
        .catch(error => {
          console.error(error);
        });
    

    setTimeout(function() {load_data()},1000);//todo websocketで必要なときだけデータを受け取る仕様に変更したい
  }
  function save_answer(){
    
    message = document.getElementById('message').value
    path = "create_answer?question={{question.id}}&message="+message
    fetch(path)
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          console.log(data);
          
        })
        .catch(error => {
          console.error(error);
        });
  }
  
   
  document.addEventListener
  ('DOMContentLoaded', function () { 
        load_data();
  })
  
</script>
<body>
<div class="main">

  {% if subject_id == "0" %}
    <h3>ルームを選んでください</h3>
    {% for i in subjects %}
    <a href="?subject={{i.id}}">{{i.name}}</p>
    {% endfor %}

  {% else %}
    <div>
    <h1>質問</h1>
    <h2>{{question.message}}</h2>
    <input type="text" id="message">
    <button onclick="save_answer()">回答</button>
    </div>
    <div id="questions"></div>
  {% endif %}
  
</div>
</body>

{% endblock %}
