{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static '../static/css/chat.css' %}" rel="stylesheet" />
<link href="{% static '../static/css/question.css' %}" rel="stylesheet" />
<link href="{% static '../static/css/modal_question.css' %}" rel="stylesheet" />

<script src="../static/js/question.js"></script>
<body>
<div class="main">
  
  <div class="nav-bar">
    <ul>
      <li><a href="/chat?subject={{subject_id}}">チャット</a></li>
      <li><a href="create_question?subject={{subject_id}}">質問(スレッド)〇</a></li>
      <li><a href="log?subject={{subject_id}}">ログ</a></li>
    </ul>
  </div>
  <div class="select-room-bar">
    <ul>
      <h2>科目一覧</h2>
      <h3><a href="create_question?user={{user_id}}&sort={{sort}}">全て</a></h3>
      {% for i in subjects %}
      {% if i.id == subject_id_i %}
      <li>
        <!-- <input type="checkbox" id="subject" value="{{i.id}}" checked="checked"> -->
        <a href="?subject={{i.id}}&user={{user_id}}&sort={{sort}}">{{i.name}}〇</a>
      </li>
      
      {% else %}
      <li>
        <!-- <input type="checkbox" id="subject" value="{{i.id}}"> -->
        <a href="?subject={{i.id}}&user={{user_id}}&sort={{sort}}">{{i.name}}</a>
      </li>
      {% endif %}
      {% empty %}
      <li>科目が登録されていません</li>
      {% endfor %} 
    </ul>
  </div>
  <div class="sort-menu" id="sort-menu">
    <ul>
      {% if sort == "comment" %}
        <li><a href='create_question?subject={{subject_id}}&user={{user_id}}&sort=0'>新着順</a></li>
        <li><a href='create_question?subject={{subject_id}}&user={{user_id}}&sort=comment'>回答数順〇</a></li>
      {% else %}
        <li><a href='create_question?subject={{subject_id}}&user={{user_id}}&sort=0'>新着順〇</a></li>
        <li><a href='create_question?subject={{subject_id}}&user={{user_id}}&sort=comment'>回答数順</a></li>
      {% endif %}
      <li><div class="sortButton"></div>
    </ul>
  </div>
  <div>
    <select name="select">
      
      <option value="user" selected>ユーザー名</option>
     
    </select>
      <input type="text" id="userName" name="user">
      <button onclick="searchUserName()">検索</button>
      <a href ="create_question?subject={{subject_id}}">絞り込みなし</a>
    <script>
      function searchUserName(){
        userName = document.getElementById('userName').value
        window.location.href = 'create_question?subject={{subject_id}}&user='+userName+'&sort={{sort}}'; // 通常の遷移
      }
    </script>
  </div>
  <div class="chat">
    <div class="comments" id="questions"></div><!--jsで埋め込み--->
    <div class="input">
      <input type="text" id="message" style="width: 30vw; height: 3vh;">
      <button onclick="save_question()">投稿</button>
    </div>
  </div>
  <!-- クリックしたらモーダルを表示するボタン -->
  <a href="#" class="btn-modal">＋</a>
  <!-- オーバーレイ -->
  <div class="overlay"></div>
  <!-- モーダルウィンドウ -->
  <div class="modal">
  </div>
  
</div>
</body>

{% endblock %}
