{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static '../static/css/chat.css' %}" rel="stylesheet" />
<script>
  function initialize() {
    str = "";
    show_comments = ""
    fetch('getLog?subject={{subject_id}}')
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          // console.log(data.tasks);
          for(let i = 0; i < data.logs.length; i++) {
            // console.log(data.tasks[i])
            obj = data.logs[i]
            str += "<h2><a href='../?subject={{subject_id}}'>"+obj.user+"が"+obj.subject+"の課題("+obj.task+")を"+obj.action+"しました"+obj.created_at+"</a></h2>"
            +"<p>"+obj.num+"人中"+obj.done_num+"人完了</p>"
          }
          
          const list = document.getElementById('logs');
          list.innerHTML = str ;
          list.scrollTo(0, list.scrollHeight);

        })
        .catch(error => {
          console.error(error);
        });
  }
  function load_data() {
    str = "";
    show_comments = ""
    fetch('getLog?subject={{subject_id}}')
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          // console.log(data.tasks);
          for(let i = 0; i < data.logs.length; i++) {
            // console.log(data.tasks[i])
            obj = data.logs[i]
            str += "<h2><a href='../?subject={{subject_id}}'>"+obj.user+"が"+obj.subject+"の課題("+obj.task+")を"+obj.action+"しました"+obj.created_at+"</a></h2>"
            +"<p>"+obj.num+"人中"+obj.done_num+"人完了</p>"
          }
          const list = document.getElementById('logs');
          list.innerHTML = str ;
        })
        .catch(error => {
          console.error(error);
        });
    

    setTimeout(function() {load_data()},1000);//todo websocketで必要なときだけデータを受け取る仕様に変更したい
  }
  function save_comments(){
    
    message = document.getElementById('message').value
    path = "comments?subject={{subject_id}}&message="+message
    fetch(path)
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          console.log(data);
          
        })
        .catch(error => {
          console.error(error);
        });
  }
  function delete_all_comments(){
    
    
    path = "app/test?delete=all"
    alert(path)
    fetch(path)
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          console.log(data);
          
        })
        .catch(error => {
          console.error(error);
        });
  }
  document.addEventListener
  ('DOMContentLoaded', function () { 
        initialize();
        setTimeout(function() {load_data()},1000);
  })
  
</script>
<div class="main">

  {% if subject_id == "0" %}
    <h3>ルームを選んでください（ログ）</h3>
    <ul>
      {% for i in subjects %}
      <li><a href="?subject={{i.id}}">{{i.name}}</a></li>
      {% empty %}
      <li>科目が登録されていません</li>
      {% endfor %}
    </ul>
  {% else %}
  <div class="nav-bar">
    <ul>
      <li><a href="/chat?subject={{subject_id}}">チャット</a></li>
      <li><a href="create_question?subject={{subject_id}}">質問(スレッド)</a></li>
      <li><a href="log?subject={{subject_id}}">ログ〇</a></li>
    </ul>
  </div>
  <div class="select-room-bar">
    <ul>
      <h3>科目一覧</h3>
      {% for i in subjects %}
      {% if i.id == subject_id_i %}
      <li><a href="?subject={{i.id}}">{{i.name}}〇</a></li>
      {% else %}
      <li><a href="?subject={{i.id}}">{{i.name}}</a></li>
      <script>
        console.log("{{i.id}},{{subject_id_i}}")
      </script>
      {% endif %}
      {% endfor %} 
    </ul>
  </div>  
  <div class="comments" id="logs"></div>
    
  {% endif %}


  

</div>

{% endblock %}
