{% load static %}
<!DOCTYPE html>
    <head> 
        <title> カレンダー </title> 
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
    </head>
    <body>

        <div class = "header">
            <a class = "title" href="{% url 'index' %}">Calender Site</a>
            
            {% if user.is_authenticated %}
                <a class = "login" href="/accounts/logout">ログアウト</a>
                {% load account %}
                <a class = "login">ユーザー名：{% user_display user %}</a>
            {% else %}
                <a class = "login" href="/accounts/login">ログイン</a>
            {% endif %}
        </div>
      
        
            {% block content %}{% endblock %}

        
        

    </body>
</html>