{% load static %}
<!DOCTYPE html>
    <head> 
        <title> カレンダー </title> 
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
    </head>
    <body>

        <div class = "header">
            <a class = "title" href="{% url 'index' %}">Calender Site:{{title}}</a>
            <a href = "/subject" class="subject">科目一覧</a><br><br>
            <a href = "{% url 'task' 1 %}" class="task">課題一覧</a><br><br>
            <a href = "{% url 'report' %}" >Ajax実験用</a>
            <div>
            {% if user.is_authenticated %}
                <a class = "button" href="/accounts/logout">ログアウト</a>
                {% load account %}
                <a class = "button">ユーザー名：{% user_display user %}</a>
            {% else %}
                <a class = "button" href="/accounts/login">ログイン</a>
            {% endif %}
            </div>
        </div>
      
        
        {% block content %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="{% static 'js/ajax.js' %}"></script>
            
        

    </body>
</html>