{% extends "base.html" %}
{% block content %}
{% load static%}
<!DOCTYPE html>
  <head>
    <title> チャット </title> 
        <link href="{% static 'css/table.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <a href="{% url 'task' 1 %}">課題リスト</a>
    <table>
      <tr>
        <th>Subject</th>
        <th></th>
        <th></th>
      </tr>
      {% for item in data %}
        <tr>
          <td>{{item.name}}</td>
          <td><a href="{% url 'edit_category' item.id %}">Edit</a></td>
          <td><a href="{% url 'delete_category' item.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
   
    <a href="{% url 'create_category' %}">新規作成</a>
  </body>
</html>
{% endblock %}