{% load static%}
<!DOCTYPE html>
  <head>
    <title> チャット </title> 
        <link href="{% static 'css/chat.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <table>
      <tr>
        <th>Task</th>
        <th>Subject</th>
        <th></th>
      </tr>
      {% for item in data %}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.subject_id.name}}</td>
          <td><a href="{% url 'edit' item.id %}">Edit</a></td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'create' %}">新規作成</a>
  </body>
</html>