{% load static%}
<!DOCTYPE html>
  <head>
    <title> チャット </title> 
        <link href="{% static 'css/chat.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>{{message|safe}}</p>
    <table>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>GENDER</th>
        <th>MAIL</th>
        <th>AGE</th>
        <th>BIRTHDAY</th>
      </tr>
      {% for item in data %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{% if item.gender == True %} female {% endif %}
              {% if item.gender == False %} male {% endif %}
          </td>
          <td>{{item.mail}}</td>
          <td>{{item.age}}</td>
          <td>{{item.birthday}}</td>
         
        </tr>
      {% endfor %}
    </table>
  </body>
</html>