{% load static %}
<!doctype html>
<html language="ja">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="{% static 'css/chat.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <table>
      <tr>
        <th>Task</th>
        <th>Subject</th>
        <th></th>
      </tr>
      {% for item in data %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td><a href="{% url 'edit' item.id %}">Edit</a></td>
        </tr>
      {% endfor %}
    </table>
    <table>
      <form action="{% url 'create' %}" method = "post">
        {% csrf_token %}
        {{ form.as_table }}
        <tr><td></td><td><input type="submit" value="click"></td></tr>
      </form>
    </table>
  </body>
</html>