{% load static %}
<!doctype html>
<html language="ja">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="{% static 'css/chat.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>{{title}}</h1>
 
    <table>
      <form action="{% url 'create_task' %}" method = "post">
        <a href="{% url 'create_subject' %}">科目の追加</a>
        {% csrf_token %}
        {{ form.as_table }}
        <input type = 'date' name='end'>
        <tr><td></td><td><input type="submit" value="click"></td></tr>
      </form>
    </table>
  </body>
</html>