{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>

<head>
  <meta charset='utf-8' />
  <link href="{% static 'css/modal.css' %}" rel="stylesheet" />
  <!--モーダル-->
  <link href="{% static 'css/edit_modal.css' %}" rel="stylesheet" />
  <!--モーダル-->
  <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
  <link href="{% static 'css/index.css' %}" rel="stylesheet" />
  <link href='fullcalendar/core/main.css' rel='stylesheet' />
  <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


  <title>user</title>

  <script>
    
    var subject_name = "";
    var subject_id = "";
    var task_id = "";
    var tasks = [];


    document.addEventListener
      //('DOMContentLoaded', function () 
      ('DOMContentLoaded', function () {
        //filter('40')
        var events = []

        // events.push(
        //   {
        //     id: '/app/get_tasks?subject=37&task=70',
        //     title: ''+subject_id+tasks,
        //     start: '2021-10-10',
        //     end: '2022-01-26',
        //     color: '#007000',
        //     url: '#'
        //   },
        // )
        let tmp = []
        let e = []
        let c = []
        let item = ""
        {% for cale in tasks %}
        // todo 後で関数に

       

        item="{{cale.end}}"
        tmp=item.split("年")
        e[0]=tmp[0]
        tmp=tmp[1].split("月")
        e[1]=tmp[0]
        tmp=tmp[1].split("日")
        e[2]=tmp[0]
       
        events.push(
          {
          id: '?subject={{subject_id}}&task={{cale.id}}&name={{cale.name}}&end='
          +e.join('-'),
          title: '{{cale.name}}',
          start: '{{cale.end | date:"Y-m-d" }}',
          //url: '?subject={{subject_id}}&task={{cale.id}}'

          },
        )
        {% endfor %}
        // tasks.forEach(element => 
        //   events.push(
        //       {
        //       id: '/app/get_tasks?subject='+subject_id+'&task='+element.id,
        //       title: element.task+" "+subject_id+ " " +  element.id,
        //       start: element.updated_at,
        //       end: element.updated_at,
        //       url: '#'
        //       },
        //   )
        // )

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

          eventClick: function (info) {
            
            get_tasks('/app/get_tasks' + info.event.id);
            edit_modal.classList.add('active');
            edit_overlay.classList.add('active');
          },

          eventChange: function (obj) { // イベントが修正されたら発生するイベント
            console.log(obj.event.start)
            let s = obj.event.start.toISOString().split("T");//toISOString()のT部分でスプリット
            let _start = s[0].split("-");
            _start[2] = String(Number(_start[2]) + 1);
            console.log(obj.event.end)//なんかnulになってる

            let query = obj.event.id.split('&')
            query[3] = "end=" + _start.join('-')//todo            
            console.log(s)
            save_task('/app/save_task' + query.join('&'))

          },
          eventRemove: function (obj) { // イベントを削除すると発生するイベント
            console.log(obj);
          },

          expandRows: true, // 画面に合わせて高さを再設定
          slotMinTime: '12:00', // Dayカレンダーに開始時間
          slotMaxTime: '12:00', // Dayカレンダーに終了時間
          locale: 'ja',
          headerToolbar: {
            left: "dayGridMonth,listMonth",
            center: "title",
            right: "today prev,next"
          },
          buttonText: {
            prev: '<',
            next: '>',
            prevYear: '<<',
            nextYear: '>>',
            today: '今日',
            month: '月',
            week: '週',
            day: '日',
            list: '一覧'
          },
          dayCellContent: function (e) {
            e.dayNumberText = e.dayNumberText.replace('日', '');
          },
          navLinks: true, // 日付を選択するとDayカレンダーやWeekカレンダーにリンク
          editable: true, // 修正可能
          nowIndicator: true, // 現在時間マーク
          dayMaxEvents: true, // イベントの数がオバーすると高さの制限(+のマークと何個式で表現)
          initialView: 'dayGridMonth',
          events: events
        });
        calendar.render();
        

      }
      );
    function filter(val) {
      console.log(val)
      path = "/app/get_tasks?subject=" + val
      fetch(path)
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          // (4) 受け取ったデータをコンソール出力
          console.log(data);
          console.log("課目ID:" + data.subject_id);
          console.log("科目名:" + data.subject_name);
          tasks = data.tasks;
          subject_id = data.subject_id
          console.log(tasks)
        })
        .catch(error => {
          // (5) エラーを受け取ったらコンソール出力
          console.error(error);
        });
    }
    function get_tasks(path) {
      //alert("カレンダーイベントのクリックを検出しました。")
      //alert("localhost:8000"+path+"からデータを取得します。")
      fetch(path)

      .then(response => {

        // (1) 通信が成功したか確認する
        if (!response.ok) {

          // (2) 通信に失敗したときはエラーを発生させる
          throw new Error('Not ok');
        }
        // (3) レスポンスデータからJSONデータを取得
        return response.json();
      })
      .then(data => {
        // (4) 受け取ったデータをコンソール出力
        console.log(data);
        console.log("課題ID:"+data.task_id);
        console.log("課題名:"+data.task.name);
        console.log("科目名:"+data.task.subject);
        editQuery=
        "task="+data.task_id
        +"&subject="+data.subject_id
        +"&end="+data.task.end
      

        if(data.task_id!='0')
          //課題編集モーダルに表示する内容
          var str = 
          "<form method = 'GET'>"
          +"<h1>"+data.task.name+"</h1>"
          +"<p>課題ID:"+data.task_id+"</p>"
          +"<p>科目名:"+data.task.subject+"</p>"
          +"<p>作成者:"+data.task.author+"</p>"
          +"<p>締切日："+data.task.end+"</p>"
          +"<p>内容:"+data.task.contents+"</p>"
          +"<label for='name"+data.task_id+"''>課題名変更:</label>"
          +"<input type='text' id='name"+data.task_id+"'><br>"
          +"<label for='content"+data.task_id+"''>内容変更:</label>"
          +"<input type='text' id='content"+data.task_id+"'><br>"
          +"<input type='checkbox' name='finish' value='"+data.task_id+"'><br>"
          +"<input type='submit' value='登録'><br>"
          +"<a style='color:red' href='/app/delete_task?task="+data.task_id+"&subject="+data.subject.id+"'>削除</a>"
          
          document.getElementById('task_detail').innerHTML = str ;
        subject_name = data.task.subject;
        subject_id = data.subject.id;
        task_id = data.task_id;
      })
      .catch(error => {
        // (5) エラーを受け取ったらコンソール出力
        console.error(error);
      });

      //alert("コンソールの出力を確認してください。")
    }
    function save_task(path) {
      //alert("カレンダーイベントのクリックを検出しました。")
      //alert("localhost:8000"+path+"からデータを取得します。")
      fetch(path)
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {


        })
        .catch(error => {
          console.error(error);
        });
    }
    function edit() {
      console.log("a")
      path = '/app/save_task?' + editQuery
      if (document.getElementById("name" + task_id) === null) {
        return 0
      }
      path = path + "&name=" + document.getElementById("name" + task_id).value
      console.log(path)
      fetch(path)
        .then(response => {
          if (!response.ok) {
            throw new Error('Not ok');
          }
        })
        .then(data => {
          window.location.href = "?subject={{subject_id}}";
        })
        .catch(error => {
          console.error(error);

        });
    }
  </script>
  <style>
    #calendar {
      position: fixed;
      top: 8vw;
      left: 40vw;
      width: 850px;
      /*55vw*/
      height: 530px;
      /*35vw*/
      overflow-y: scroll;
      font-family: 'M PLUS Rounded 1c', sans-serif;
    }

    #calendar::-webkit-scrollbar {
      /* Chrome, Safari 対応 */
      display: none;
    }

    #calendar td.fc-day-today {
      background-color: #71b4b1;
    }
  </style>
</head>

<body>
  <div class="main">
    <div class="side">
      <p class="subject-title">科目一覧</p>
      <ul>
       
        {% for item in subjects %}<!--選択している科目は異なる色で表示する-->
          {% if item.id == subject_id_i %}
            <li class="highlight"><a class="normal-text" href="?subject={{item.id}}">{{item.name}}</a></li>
          {% else %}
            <li><a class="highlight-text" href="?subject={{item.id}}">{{item.name}}</a></li>
          {% endif %}

        {% empty %}
        <li>現在登録されている科目がありません</li>
        {% endfor %}
        
      </ul>
      <ul>
        <div id="calendar"></div>
      </ul>
    </div> 
  </div>
  <!-- クリックしたらモーダルを表示するボタン -->
  <a href="#" class="btn-tsk">課題を追加</a>

  <!-- オーバーレイ -->
  <div class="overlay"></div>

  <!-- モーダルウィンドウ（作成） -->
  <div class="modal">
    <div class="close">&times</div>
    <h1>{{title}}</h1>

    <table>
      <th>課題の追加</th>
      <form action="/create_task?subject={{subject_id}}" method="post">
        {% csrf_token %}
        
        
        <!--todo:デフォルト値は今日にしたい-->
        <tr>
          <td>
              <div class="col-6">
                <input type="date" id="end" name="end">
              </div>
          </td>
          <td>{{ form_task.as_table }}</td>
          <td></td>
          <td><input type="submit" name="create_task" value="click"></td>
        </tr>
      </form>
      <th>科目の追加</th>
      <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{ form_subject.as_table }}
        <tr>
          <td></td>
          <td><input type="submit" name="create_subject" value="click"></td>
        </tr>
      </form>
    </table>
  </div>

  <div class="edit_overlay"></div>

  <!-- モーダルウィンドウ（編集） -->
  <div class="edit_modal">
    <div class="edit_close">&times</div>
    <p>編集モーダル</p>
    <div id="task_detail"></div>
  </div>

  <!-- スクロールで高さを出すためのsectionタグ -->
  <section></section>
  <!--htmlの後に読み込まないとエラーになる。-->
  <script src="{% static 'js/modal2.js' %}">
  </script>
  <script src="{% static 'js/edit_modal.js' %}">
  </script>

</body>

</html>
{% endblock %}