{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<head>
  <meta charset='utf-8' />
  <link href="{% static 'css/mordal.css' %}" rel="stylesheet" /><!--モーダル-->
  <link href="{% static 'css/index.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
  <link href='fullcalendar/core/main.css' rel='stylesheet' />
  <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <title>user</title>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var events = [
        /*{
          id: 'cale.id',
          title: 'クラウドアプリ開発入門',
          start: '2021-08-26',
          end: '2021-09-03',
          color: '#ff0000',
          url: '#'
        },
        {
          id: 'cale.id',
          title: 'プロジェクト型演習頑張ろう！',
          start: '2021-11-09',
          end: '2022-02-01',
          color: '#008000',
          url: '#'
        },*/
        {% for cale in caleList %}
          {
          id: 'cale.id',
          title: '{{cale.subject_id.name}}:{{cale.name}}',
          start: '{{cale.created_at | date:"Y-m-d" }}',
          url: '?subject={{subject}}&task={{cale.id}}'
          },
        {% endfor %}
        ]

        var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'ja',
      height: 'auto',
      headerToolbar: {
        left: "dayGridMonth,listMonth",
        center: "title",
        right: "today prev,next"
      },
      buttonText: {
        prev: '<',
        next: '>',
        prevYear: '<<',
        nextYear: '>>',
        today: '今日',
        month: '月',
        week: '週',
        day: '日',
        list: '一覧'
      },
      initialView: 'dayGridMonth',
      events: events
    });
    calendar.render();
      });
  </script>
  <style>
    #calendar {
      width: 80vw;
      height:92vh;
      overflow-y:scroll;
      background-color:rgb(55,55,55);
    }
    #calendar::-webkit-scrollbar {  /* Chrome, Safari 対応 */
      display:none;
    }
    #calendar th.fc-day{
      background-color:rgb(55,55,55);
    }
    #calendar td.fc-day-today{
      background-color:rgb(255,165,0);
    }
  </style>
</head>

<body>
  <div class = "main">
      <div class = "side">
        <table>
          <tr>
            <th>科目一覧</th>
          </tr>
          {% for item in data %}
            <tr>
              {% if item.id == select %}
              <td><a href="?subject={{item.id}}" class="highlight">{{item.name}}</td>
              {% else %}
              <td><a href="?subject={{item.id}}">{{item.name}}</td>
              {% endif %}
            </tr>   
          {% endfor %}
        </table>
        <!-- クリックしたらモーダルを表示するボタン -->
        <a href="#" class="btn">課題を追加</a>
      </div>
      <ul>
          <div id="calendar"></div>
      </ul>     
  </div>

<!-- オーバーレイ -->
<div class="overlay"></div>

<!-- モーダルウィンドウ -->
<div class="modal">
  <div class="close">&times</div>
  <h1>{{title}}</h1>
 
  <table>
    <th>課題の追加</th>
    <form action="{% url 'index' %}" method = "post">
      {% csrf_token %}
      {{ form_task.as_table }}
      <tr><td></td><td><input type="submit" name="create_task" value="click"></td></tr>
    </form>
    <th>科目の追加</th>
    <form action="{% url 'index' %}" method = "post">
      {% csrf_token %}
      {{ form_subject.as_table }}
      <tr><td></td><td><input type="submit" name="create_subject" value="click"></td></tr>
    </form>
  </table>
</div>

<!-- スクロールで高さを出すためのsectionタグ -->
<section></section>
<!--htmlの後に読み込まないとエラーになる。あとファイルの分け方がわからない。。。-->
  <script>
    // ボタン、モダル、モダルの閉じるボタン、オーバーレイを変数に格納
const btn = document.querySelector('.btn');
const modal = document.querySelector('.modal');
const closeBtn = document.querySelector('.close');
const overlay = document.querySelector('.overlay');

// ボタンをクリックしたら、モダルとオーバーレイに.activeを付ける
btn.addEventListener('click', function(e){
  // aタグのデフォルトの機能を停止する
  e.preventDefault();
  　// モーダルとオーバーレイにactiveクラスを付与する
  modal.classList.add('active');
  overlay.classList.add('active');
});

// モダルの閉じるボタンをクリックしたら、モダルとオーバーレイのactiveクラスを外す
closeBtn.addEventListener('click', function(){
  modal.classList.remove('active');
  overlay.classList.remove('active');
});

// オーバーレイをクリックしたら、モダルとオーバーレイのactiveクラスを外す
overlay.addEventListener('click', function() {
  modal.classList.remove('active');
  overlay.classList.remove('active');
});
  </script>
</body>
</html>
{% endblock %}

