{% load static %}
<!DOCTYPE html>
    <head> 
        <title> カレンダー </title> 
        <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    </head>
    <body>

        <div class = "header">
            <a class = "title" href="#">Calender Site</a>
            <a class = "login" href="http://localhost:8000/admin/login/?next=/admin/">ログイン</a>
        </div>
      
        <div class = "main">
            <ul class = "date" style="width:60vw">
                <li>2021-10-31</br><img  src="{% static 'hanamaru-illust6.png' %}"></li>
                <li>2021-10-30</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
            </ul>
            <div class = "side">
                <div class="menu">
                    <a href = "http://localhost:8000/addData">Schedule</a><br><br>
                    <a href = "http://localhost:8000/chat">Chat</a><br><br>
                    <a href = "http://localhost:8000/report">Report</a>
                </div>
                <div class="graph">
                    graph
                </div>
            </div>
                
            </div>
        </div>

        <div class = "footer">
        </div>
        

    </body>
</html>
