{% load static %}
<!DOCTYPE html>
  <head>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  </head>
  <body>
    <!--↓この部分が置き換わる-->
    <div id="root">wait...</div>

    <script type="text/babel">
      function Counter(){
        // 特殊な変数countを用意 countに値を代入する際はsetCountを使う
        const[count,setCount]=React.useState(0);
        // countの値を1増やす関数を用意
        const Increment = () =>{
          setCount(count+1)
        }
        // returnの中が描画内容。html風に書ける
        return(
          <div>
            {/* 波かっこの中はjavascriptが使える */}
            {/* useStateを使って作った変数は値が変わると動的に
            表示も変わる*/}
            <h1>{count}</h1>
            <button onClick={Increment}>+</button>
          </div>
        )
      }
      function App(){
        return(
          <div> 
            <h1>React</h1>
            <Counter />
          </div>
        )
      }
      let el = (
        <App />
      );
      let dom = document.querySelector('#root');
      ReactDOM.render(el, dom);
    </script>
  </body>
</html>