{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<head>
  <meta charset='utf-8' />
  <link href="{% static 'css/mordal.css' %}" rel="stylesheet" /><!--モーダル-->
  <link href="{% static 'css/index.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
  <link href='fullcalendar/core/main.css' rel='stylesheet' />
  <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <title>user</title>
  
</head>

<body>
  <div class = "main">
    <div id="app">
      <div class = "side">
        <table>
          <tr>
            <th>科目一覧</th>
          </tr>
          {% for item in subjects %}
            <tr>
              <td><button v-on:click="getData({{item.id}})">{{item.name}}</button></td>
            </tr>   
          {% endfor %}
        </table>
        <!-- クリックしたらモーダルを表示するボタン -->
        <a href="#" class="btn">課題を追加</a>
        <p>{{task_id}}</p>
      </div>
      <div class="task_list">
        <table border="1">
          <tr>
            <th>科目名</th>
            <th>課題名</th>
            <th>最終更新日</th>
          </tr>
          <tr v-for="writer in response_data.writers">
            <td>[[writer.subject]]</td>
            <td><button v-on:click="getTask([[writer.id]])">[[writer.task]]</button></td>
            <td>[[writer.updated_at]]</td>
          </tr>
        </table>
      </ul>     
      <div class="debug">
        <h1 style="text-align: center;">デバッグエリア</h1>
        <table border="1">
          <tr>
            <th>科目名</th>
            <th>課題名</th>
            <th>内容</th>
            <th>作成者</th>
            <th>作成日</th>
            <th>最終更新日</th>
          </tr>
          <tr v-for="writer in response_data.datas">
            <td>[[writer.subject]]</td>
            <td>[[writer.task]]</td>
            <td>[[writer.contents]]</td>
            <td>[[writer.author]]</td>
            <td>[[writer.created_at]]</td>
            <td>[[writer.updated_at]]</td>
          </tr>
        </table>
      </div>
    </div>
  </div>



<!-- スクロールで高さを出すためのsectionタグ -->
<section></section>
</div>
</body>
</html>
{% endblock %}

