{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<div id="app">
  <meta charset='utf-8' />
  <link href="{% static 'css/mordal.css' %}" rel="stylesheet" /><!--モーダル-->
  <link href="{% static 'css/index.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
  <link href='fullcalendar/core/main.css' rel='stylesheet' />
  <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  
  <script>
    function debug(){
      alert("カレンダーイベントのクリックを検出しました。")
      //ここでリクエストを送る処理をかければうまくいくはず

    }
    document.addEventListener('DOMContentLoaded', function () {
      var events = []
      
      {% for cale in tasks %}
        events.push(
          {
          id: '?subject={{subject_id}}&task={{cale.id}}',//todo とりあえず使わない要素にURLを入れてる
          title: '{{cale.subject_id.name}}:{{cale.name}}',
          start: '{{cale.created_at | date:"Y-m-d" }}',
          subject:'{{cale.id}}',
          },
        )
      {% endfor %}

        
        
        
        /*
        <tr v-for="writer in response_data.writers">
            <td>[[writer.subject]]</td>
            <td>[[writer.task]]</td>
          </tr>
        */
       
      var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      eventClick: function(info) {
        debug();
        alert('Event: ' + info.event.title);
        alert('URL: ' + info.event.id);
        alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
        alert('View: ' + info.view.type);
        // change the border color just for fun
        info.el.style.borderColor = 'red';
        e.preventDefault();
      },
      locale: 'ja',
      height: 'auto',
      headerToolbar: {
        left: "dayGridMonth,listMonth",
        center: "title",
        right: "today prev,next"
      },
      buttonText: {
        prev: '<',
        next: '>',
        prevYear: '<<',
        nextYear: '>>',
        today: '今日',
        month: '月',
        week: '週',
        day: '日',
        list: '一覧'
      },
    
       
      initialView: 'dayGridMonth',
      events: events
    });
    calendar.render();
      });
  </script>
  <style>
    #calendar {
      position:fixed;
      top:40vh;
      left:20vw;
      width: 60vw;
      height:92vh;
      overflow-y:scroll;
      background-color:rgb(55,55,55);
    }
    #calendar::-webkit-scrollbar {  /* Chrome, Safari 対応 */
      display:none;
    }
    #calendar th.fc-day{
      background-color:rgb(55,55,55);
    }
    #calendar td.fc-day-today{
      background-color:rgb(255,165,0);
    }
  </style>

<body>
  <div class = "main">
      <div class = "side">
        <table>
          <tr>
            <th>科目一覧</th>
            <th>カレンダー用</th>
          </tr>
          {% for item in subjects %}
            <tr>
              <td><button v-on:click="getData({{item.id}})">{{item.name}}</button></td>
              <td><a href="?subject={{item.id}}">表示</a></td>
            </tr>   
          {% endfor %}
        </table>
      </div>
      <div class="task_list">
        <h1>科目ID:[[response_data.subject_id]]</h1>
        
        <table border="1">
          <tr>
            <th>科目名</th>
            <th>課題名</th>
            <th>最終更新日</th>
          </tr>
          <tr v-for="writer in response_data.writers">
            <td>[[writer.subject]]</td>
            <td><button v-on:click="getTask([[response_data.subject_id]],[[writer.id]])">[[writer.task]]</button></td>
            <td>[[writer.updated_at]]</td>
          </tr>
        </table>
        <div id="calendar"></div>
      </div>     
      <div class="debug">
        <h1>課題ID:[[response_data.task_id]]</h1>
        <div v-for="writer in response_data.datas">
        <p>科目名:[[writer.subject]]</p>
        <p>課題名：[[writer.task]]</p>
        <p>内容：[[writer.contents]]</p>
        <p>作成者：[[writer.author]]</p>
        <p>作成日：[[writer.created_at]]</p>
        <p>更新日：[[writer.updated_at]]</p>
      </div>
  </div>



<!-- スクロールで高さを出すためのsectionタグ -->
<section></section>
</div>
</body>
</div>
</html>
{% endblock %}

