{% load static %}
<!DOCTYPE html>
    <head> 
        <title> カレンダー </title> 
        <link href="{% static 'css/search.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="header">
            <h1>Calendar Site</h1>
            <h2>情報工学科</h2>
        </div>
    </body>
    履修している科目を選択してください
    <form method="post">
        {% csrf_token %}
        <input type="checkbox" name="subject" value="subjct1"><br>
        <input type="checkbox" name="subject" value="subjct2"><br>
        <input type="checkbox" name="subject" value="subjct3"><br>
        <input type="checkbox" name="subject" value="subjct4"><br>

        <input type="submit" value="登録" />

</html>