{% extends "base.html" %}
{% block content %}
{% load static%}



  <title>説明</title> 
      <link href="{% static 'css/table.css' %}" rel="stylesheet" />
      <link href="{% static 'css/task.css' %}" rel="stylesheet" />
</div><br><br><br><br>
    <h2>このアプリについて</h2>
    まず、このアプリは課題を忘れないようにする為に作成しました。<br><br>
    
    その問題を解決するために、みんなで課題の情報を共有しようと考えました。<br><br>

    <h3>アカウントを作ろう</h3>

    まず、このアプリを使うにはログインをしないといけません。<br><br>

    アカウントを作っていない方はアカウントを作成してください。<br><br>

    ユーザ名やメールアドレスに指定はありません。<br><br>
    
    が、ユーザ名を学籍番号、メールアドレスは学校のメールを登録することを推奨します。<br><br>

    また、Djangoというフレームワークを用いており、パスワードはハッシュ化されているのでご安心ください。<br><br>

    また、学内LANのみの使用になりますので、学校のWifiに繋ぐか、VPN接続のどちらかで接続してください。<br><br>

    <h2>使い方</h2>

    ユーザ登録を行い、ログインができたら、科目管理から自分の履修している授業にチェックをします。<br>
    ※まだ授業がない場合は自分で新しく作成することができます。<br><br>

    全ての授業を選択したら、ページ下の登録ボタンを押してください。<br><br>

    トップページに戻ると先ほど選んだ科目一覧が表示されています。<br><br>

    <h3>課題を追加してみよう</h3>

    ログインをすると、トップページ右下に「課題を追加」というボタンが現れます。<br><br>

    ボタンを押すと、授業で出された課題を追加することができます。<br><br>

    ここで、このアプリの魅力を説明します。<br><br>

    <h3>本アプリの魅力</h3>

    このアプリは、同じ授業を履修している生徒が一人課題を登録すると、履修者全員が課題を共有することができます。<br><br>

    つまり、誰か一人だ課題追加すれば大丈夫！！！<br><br>

    それだけではなく、締め切りが近づくと、登録したメールアドレスに通知が届きます。<br><br>

    現在は、課題締切時、締切の1時間前、締切の1日前に通知が来るように設定しています。<br><br>

    ですが、課題が終わった人はメール要らないですよね。<br><br>

    課題が終わった人は、カレンダーの課題をクリックすると、編集画面が出てきます。<br><br>

    その編集画面の完了をクリックすると、メールが届かなくなります。<br><br>

    また、締切がすぎた課題の通知も来ることはありません。<br><br>

    <h3>その他の仕様</h3>

    授業(例:「Java 月曜 3限」)の文字をクリックするとその授業だけの課題を見ることができます。<br><br>

    全部の授業の課題が見たい時は、左上の<b>楽学</b>の文字をクリックしてください。<br><br><br><br><br>


{% endblock %}
