{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>


<head>
  <title> カレンダー </title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
  <link href="{% static 'css/index.css' %}" rel="stylesheet" />
  <link href="{% static 'css/subject_manage.css' %}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <div class="main">
      <div class="side">
        <p class="subject-title">{{title}}</p>
        <ul>
          <form method = "GET">
            {% for item in data %}
            {{item.id}}
            {% if item in mysubjects %}
            <label>
              <input type="checkbox" name="chk" value="{{item.id}}" checked="checked"/>
              <li class="highlight"><a class="normal-text">{{item.name}}</li>
            </label>
            {% else %}
            <label>
              <input type="checkbox" name="chk" value="{{item.id}}" />
              <li class="highlight"><a class="normal-text">{{item.name}}</li>
            </label>
            {% endif %}
            {% empty %}
            <label>
              <input id="box" type="checkbox" />
              <li>現在登録されている科目がありません</li>
            </label>
            {% endfor %}
            <input type="submit" value="登録">
          </form>  
        </ul>
      </div>
      <ul>

</body>

</html>
{% endblock %}