{% load static %}

<!DOCTYPE html>
    <head> 
        <title> カレンダー </title> 
        <link href="{% static 'css/subject.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="header">
            <h1>科目リスト</h1>
            <h2>情報工学科</h2>
        </div>
    <form method="post">
        {% csrf_token %}
        <th>{{ name }}</th><br>
        <input type="text" name="subject">
        <input type="submit" class="btn btn-danger" value="登録" /><br>
    </form>
    
    <table class="table">
        <thead>
            <tr>
                <th>subjectID</th>
                <th>科目</th>
                <th>編集</th>
            </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
            <td>{{item.subject_id}}</td>
            <td>{{item.subject}}</td>
            <td>Edit</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>

</html>