{% extends "base.html" %}
{% block content %}
{% load static%}
<head>
  <title> チャット </title> 
      <link href="{% static 'css/table.css' %}" rel="stylesheet" />
      <link href="{% static 'css/subject.css' %}" rel="stylesheet" />

</head>
<div class="subjectlist">
  <body>
    <br><a href="{% url 'create_subject' %}">科目を追加</a>
    <table>
      <tr>
        <th>Subject</th>
        <th></th>
        <th></th>
      </tr>
      {% for item in subject_list %}
        <tr>
          <td>{{item.name}}</td>
          <td><a href="{% url 'edit_subject' item.id %}">編集</a></td>
          <td><a href="{% url 'delete_subject' item.id %}">削除</a></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</div>
{% endblock %}