{% extends "base.html" %}
{% block content %}
{% load static%}
  <head>
    <title> チャット </title> 
        <link href="{% static 'css/table.css' %}" rel="stylesheet" />
  </head>
    <h1>{{title}}</h1>
    <a href="{% url 'category' %}">科目リスト</a>
    <form action ="{% url 'task' 1 %}" method="post">
      {% csrf_token %}
      {{form.as_table }}
      <tr><td></td><td><input type="submit" value="click"></td></tr>
    </form>
    <table>
      <tr>
        <th>課題</th>
        <th>科目</th>
        <th>作成者</th>
        <th>作成日</th>
        <th>最終更新日</th>
        <th></th>
        <th></th>
      </tr>
      {% for item in data %}
        {% if find == '' or find == item.subject_id.name %}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.subject_id.name}}</td>
            <td>{{item.author}}</td>
            <td>{{item.created_at | date:'Y/m/d H:i'}}</td>
            <td>{{item.updated_at | date:'Y/m/d H:i'}}</td>
            <td><a href="{% url 'edit_task' item.id %}">Edit</a></td>
            <td><a href="{% url 'delete_task' item.id %}">Delete</a></td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <div class="pagination">
      {% if data.has_previous %}
          <a href="{% url 'task' 1 %}">&laquo;first</a>
          <a href="{% url 'task' data.previous_page_number %}">&laquo;prev</a>
      {% endif %}
      <span class="current">
          [{{data.number}}/{{data.paginator.num_pages}}]
      </span>
      {% if data.has_next %}
          <a href="{% url 'task' data.next_page_number %}">next&raquo;</a>
          <a href="{% url 'task' data.paginator.num_pages %}">last&raquo;</a>
      {% endif %}
  </div>
    <a href="{% url 'create_task' %}">新規作成</a>
{% endblock %}