:root {
	--accent-color: rgb(255,165,0);
	--head-color:rgb(22,27,34);
	--base-color:rgb(1,4,9);
	--sub-color:rgb(13,17,23);
	--text-color:white;
  }
  a{
	color:orange;
	text-decoration: none;
  }
  html{
	color:var(--text-color);
  }
  .header{
	position:fixed;
	display:flex;
	flex-direction:row;
	align-items:center; 
	background-color:#383838;
	height:8vh;
	width:100vw;
	font-size:1rem;
	overflow-y:hidden;
  }
  body{
	background-color:var(--base-color);
  }
  .title{
	margin-left:2vw;
	margin-right: 16px;
	text-decoration: none;
	color:var(--text-color);
	font-size:40px;
	font-family: 'Rampart One', cursive;
  }
  
  .button{
	margin-right:2vw;
	text-decoration: none;
	border:2px solid #71b4b1;
	padding:4px 15px;
	background-color:#71b4b1; 
	cursor: pointer;
	color:var(--text-color);
	font-family:sans-serif;
	position :fixed;
	right:20px;
	font-size: 22px;
	border-radius: 50px;
	font-weight: 500;
  }
  .button:hover{
	transition:0.5s;
	background-color:#ffffff;
	color: #383838;
	border: 2px solid #ffffff;
  }
  #header-tag{
	margin:0 20px;
	font-size: 26px;
	font-family: 'Noto Sans JP', sans-serif;
  }
  
  button[type="submit"] {
    padding:0.5rem 2rem;
    color:var(--text-color);
    background:#71b4b1;
    border:solid 0.15rem #71b4b1;
    border-radius: 0.25rem;
    cursor:pointer;
	transition:0.2s;
  }