:root {
  --accent-color: rgb(255,165,0);
  --head-color:rgb(22,27,34);
  --base-color:rgb(1,4,9);
  --sub-color:rgb(13,17,23);
  --text-color:white;
}
a{
  color:var(--text-color);
  text-decoration: none;
}
html{
  color:var(--text-color);
  
}
.header{
  position:fixed;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center; 
  background-color:var(--head-color);
  height:8vh;
  width:100vw;
  font-size:2rem;
}
body{
  background-color:var(--base-color);
}
.title{
  margin-left:2vw;
  text-decoration: none;
  color:var(--text-color);
  font-size:2rem;
  font-weight:bold;
}

.button{
  margin-right:2vw;
  text-decoration: none;
  border:2px solid var(--accent-color);
  padding:0 0.5rem;
  background-color:var(--base-color); 
  font-size:1.3em;
  cursor: pointer;
  color:var(--text-color);
  font-family:sans-serif;
  font-weight: 1000;
}
.button:hover{
  transition:0.5s;
  background-color:var(--accent-color);
}

