#calendar {
  position:fixed;
  top:8vh;
  left:20vw;
  width: 60vw;
  height:80vh;
  overflow-y:scroll;
}
#calendar::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
#calendar td.fc-day-today{
  background-color:rgb(255,165,0);
}