:root {
  --accent-color: rgb(255,165,0);
  --base-color:rgb(1,4,9);
  --sub-color:rgb(13,17,23);
  --text-color:white;
}

.main{
  top:8vh;
  bottom:2vh;
  left:0;
  width:100vw;
  position:fixed;
  height:70vh;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.side{
  width:20vw;
  height: 92vh;
  color:var(--text-color);
  font-size:1.5rem;
  overflow-y:scroll;
  background-color:var(--sub-color);
}

th{
  font-size:2rem;
  padding:1rem 0;
}
td{
  padding:1rem 0;
}

.highlight{
  background-color: var(--accent-color);
}

