:root {
  --accent-color: rgb(255,165,0);
  --base-color:rgb(1,4,9);
  --sub-color:rgb(13,17,23);
  --text-color:white;
}
body{
  overflow-y:hidden;
}
.main{
  top:8vh;
  bottom:2vh;
  left:0;
  width:100vw;
  position:fixed;
  height:92vh;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
.main::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
.side{
  color:var(--text-color);
  font-size:1.5rem;
  background-color:#383838;
  overflow-y:scroll;
  margin: 30px 60px 25px 60px;
  height: 84vh;
  width: 500px;
  border-radius: 10px;
}
.debug_area{
  position:fixed;
  top:8vh;
  left:80vw;
  width:20vw;
  height: 92vh;
  background-color: rgb(2,34,82);
}
/*スクロールバー非表示*/
.side::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
th{
  font-size:2rem;
  padding:1rem 0;
}
td{
  padding:1rem 0;
}

.over_lay{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color: black;
  opacity:0.4;
}
.test_modal{
  position:fixed;
  top:30vh;
  left:30vw;
  height:40vh;
  width:40vw;
  background-color: var(--accent-color);
}

/* report.html用*/
.task_list{
  position:fixed;
  top:8vh;
  left:20vw;
  height:92vh;
  width:60vw;
  background-color:rgb(40,40,40);
}
.debug{
  position:fixed;
  top:8vh;
  left:80vw;
  height:92vh;
  width:20vw;
  background-color:rgb(2,34,82);
}
p.subject-title{
  text-align: right;
  margin: 25px;
  font-size: 24px;
}
/*通常時*/
ul{
  position: relative;
	padding: 0;
	list-style-type: none;
}
ul li {
  border-radius: 10px;
	padding: 0.5em;
	margin-bottom: 3px;
	line-height: 1.5;
	border-left: solid 16px #b7b7b7;
	background: #FFFFFF;
  color:#C3C3C3;
  width: 470px;
  margin: 10px 15px 8px 13px;
}
/*選択時*/
li.highlight{
  padding: 0.5em;
	margin-bottom: 3px;
	line-height: 1.5;
	border-left: solid 16px #71b4b1;
	background: #FFFFFF;
	color:#c3c3c3;
}
a.normal-text{
  color:#8f8f8f;
}
a.highlight-text{
  color:#8f8f8f;
  padding: 0 0 10px 0;
}
.fc .fc-button-primary:not(:disabled).fc-button-active, 
.fc .fc-button-primary:not(:disabled):active {
  color: #fff;
  color: var(--fc-button-text-color,#fff);
  background-color: #8b8b8b;
  background-color: var(--fc-button-active-bg-color,#3c3c3c);
} 
.fc .fc-button-primary {
    color: #fff;
    color: var(--fc-button-text-color,#fff);
    background-color: #8b8b8b;
}
.btn-tsk {
    text-decoration: none;
    background: #8b8b8b;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    height: 5vh;
    width: 10vw;
    z-index: 20;
    padding: 1vh 0;
    font-size: 1rem;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
@media all and (orientation: landscape) {
   /* 横向きの場合は、縦長用を非表示にする */
   div.forPortrait { display: none; }
}
@media all and (orientation: portrait) {
   /* 縦向きの場合は、横長用を非表示にする */
   div.forLandscape { display: none; }
}