.box{
  background-color:orange;
  position:absolute;
  left: 80vw;
  top: 0px;
  width: 20vw;
  height: 20vh;
}
button{
  padding:1rem;
  font-size:2rem;
  font-weight:bold;
  background-color:#17a843;
  color:white;
}