@charset "utf-8";
/* CSS Document */

body{
	font-size: 14px;
}

#open{
	cursor:pointer;
	width:200px;
	border:1px solid #ccc;
	border-radius:4px;
	text-align: center;
	padding:12px 0;
    margin:16px auto 0;
    color: #fff;
}
#close{
	cursor:pointer;
	width:200px;
	border:1px solid #ccc;
	border-radius:4px;
	text-align: center;
	padding:12px 0;
    margin:16px auto 0;
}

#mask{
	background:rgba(0,0,0,0.4);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:10;
}

#modal{
	background:#fff;
	width:300px;
	padding:20px;
	border-radius:4px;
	position:absolute;
	top:40px;
	left:0;
	right:0;
	margin:0 auto;
	transition:transform 0.4s;
	z-index:20;
}

#modal > p{
	margin:0 0 20px;
}

#mask.hidden{
	display:none;
}

#modal.hidden{
	transform:translate(0,-500px);
}
.modal-text{
    color: black;
}



