ul li {
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 3px;
    line-height: 1.5;
    border-left: solid 16px #b7b7b7;
    background: #FFFFFF;
    color: #C3C3C3;
    width: 430px;
    margin: 10px 15px 8px 13px;
}
